.passwordUpdate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.passwordUpdateHeader {
  font-size: 30px;
  font-weight: bold;
  width: inherit;
  text-align: center;
  padding: 20px 0;
}

.passwordUpdateForm {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}