.signIn {
  display: flex;
  align-items: center;
}

.signInBgImage {
  width: 50%;
  height: 100vh;
  position: relative;
}

.signInBgImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slogan__contents {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  background: var(--primary-color);
  opacity: 0.75;
  padding: 2rem;
  color: var(--text-slate-50);
}

.signInForm {
  width: 50%;
  margin: 0 auto;
  padding: 3rem;
}

.signInHeader {
  font-size: 3rem;
  color: var(--text-slate-700);
  font-weight: bold;
  text-align: center;
}

label {
  color: var(--text-slate-500);
}

.form-group > input {
  padding: 15px 10px;
  border: 2px solid var(--text-slate-300);
  border-radius: 5px;
  font-size: 0.875rem;
}
.toSignUpPage {
  font-weight: bold;
  color: var(--text-slate-600);
  font-size: 0.95rem;
}
.signUpBtn {
  border: none;
  outline: none;
  font-weight: bold;
  background: transparent;
  color: var(--primary-color);
}

.signUpBtn:hover {
  text-decoration: underline;
}

/* ################### media queries ################### */

@media screen and (max-width: 768px) {
  .signInBgImage {
    display: none;
  }
  .signInForm {
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
  }
}
