.navbar__nav {
  position: sticky;
  top: 0;
  z-index: 9;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #e76f04;
}

.navbar__brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-brand .navbar-brand__text {
  font-size: 1.6rem;
  font-weight: 600;
}

.nav-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 15px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.navbar-light .navbar-nav .hover__links:hover {
  color: #222;
}

.signUpButton {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 20px !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  background: #c5770a;
  color: #fff !important;
  transition: background 0.3s ease;
}

.signUpButton:hover {
  background-color: #eca33d;
}

.signOutButton {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 20px !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  transition: background 0.4s ease-in-out;
}

.signOutButton:hover {
  background: var(--primary-color);
}

/* ############### media queries ################ */

@media (max-width: 640px) {
  .navbar-brand .navbar-brand__text {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .nav-item {
    margin: 15px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  .nav-item {
    margin: 10px;
    font-size: 14px;
    font-weight: 700;
  }

  .signOutButton {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 15px !important;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.85rem;
    text-decoration: none;
    background: #ea3943;
  }

  .signOutButton:hover {
    background-color: #e01822;
    color: white !important;
  }
}

@media screen and (min-width: 641px) and (max-width: 991px) {
  .navbar-brand .navbar-brand__text {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .nav-item {
    margin: 15px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  .nav-item {
    margin: 10px;
    font-size: 1rem;
    font-weight: 700;
  }

  .signOutButton {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 15px !important;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    background: #ea3943;
  }

  .signOutButton:hover {
    background-color: #e01822;
    color: white !important;
  }
}

@media screen and (min-width: 992px) {
}
