.filter-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.filter-label {
  font-weight: bold;
}
.projects__heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

.projectsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
justify-content: center;
}

.projects {
  width: 60%;
}

.project {
  display: flex;
  gap: 40px;
  background-color: #fff;
  color: black;
  border: 1px solid lightgray;
  padding: 20px;
  margin: 20px 5px;
}

.project__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__image {
  width: 50%; 
}

.cta__addProject {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.projectAddBtn {
  background-color: #fad6a3;
  outline: none;
  border: none;
  color: black;
  margin-right: 5px;
}

.projectAddBtn:hover, .projectAddBtn:active {
  background-color: #f1b868;
  color: black;
}

.buttonElements {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.btnProjectMore {
  margin-left: 5px; 
}

.iconWrapperAddBtn {
  display: flex;
  align-items: center;
}



/* ################### media queries ################### */

@media screen and (max-width: 640px) { 
  .filter-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .filter-label {
    font-weight: 700;
  }

  .projects__heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 20px;
  }
  
  .projectsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .projects {
    width: 100%;
  }
  
  .project {
    display: flex;
    gap: 40px;
    background-color: #fff;
    color: black;
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px 5px;
  }
  
  .project__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project__text h2 {
    font-size: 1.25rem;
  }

  .project__text p {
    font-size: 0.875rem;
  }
  
  .project__image {
    width: 50%; 
  }
  
}
@media screen and (min-width: 641px) and (max-width: 1007px) { 
  .filter-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .filter-label {
    font-weight: 700;
  }

  .projects__heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 20px;
  }
  
  .projectsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .projects {
    width: 80%;
  }
  
  .project {
    display: flex;
    gap: 40px;
    background-color: #fff;
    color: black;
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px 5px;
  }
  
  .project__text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project__text h2 {
    font-size: 1.5rem;
  }

  .project__text p {
    font-size: 1rem;
  }
  
  .project__image {
    width: 40%; 
  }
}
@media screen and (min-width: 1008px) {
  .filter-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .filter-label {
    font-weight: 700;
  }

  .projects__heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 20px;
  }
  
  .projectsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .projects {
    width: 80%;
  }
  
  .project {
    display: flex;
    gap: 40px;
    background-color: #fff;
    color: black;
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px 5px;
  }
  
  .project__text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project__text h2 {
    font-size: 1.5rem;
  }

  .project__text p {
    font-size: 1rem;
  }
  
  .project__image {
    width: 40%; 
  }
} 