.footer__light {
  background-color: #f8f9fa;
  color: black;
}

.footerContentWrapper {
  margin-top: 3rem;
  text-align: center;
}

.footerContentWrapper p {
  font-size: 0.875rem;
  letter-spacing: 2.5px;
}

.content-container {
  margin-top: 5rem;
}