.signUp {
  min-height: 90.4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signUpHeader {
  font-size: 30px;
  font-weight: bold;
  width: inherit;
  text-align: center;
  padding: 20px 0;
}

.signUpForm {
  display: block;
  width: 50%;
  margin: 0 auto;

}

.form-group > input {
    border: none;
    padding: 25px 20px;
    background-color: #f3f3f3;
    font-size: 14px;
  }
  
  .signInBtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: green;
    font-weight: bold;
  }

  .signInBtn:hover {
    text-decoration: underline;
  }
