.signUpPageBg {
  width: 100%;
  position: relative;
}

.signUpPageBg > img {
  width: 100%;
  height: 100%;
}

.signupSlogan {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

.signUpForm {
  width: 40%;
  margin: 0 auto;
  padding: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  opacity: 0.85;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.form-group > input {
  border: none;
  padding: 25px 20px;
  font-size: 14px;
}

.signInBtn {
  border: none;
  outline: none;
  font-weight: bold;
  background: transparent;
  color: var(--primary-color);
  text-transform: uppercase;
}

.signInBtn:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.cta__toSignInPage {
  font-weight: bold;
  color: #121212;
  font-size: 0.95rem;
}


/* ################### media queries ################### */

@media screen and (max-width: 1080px) {
  .signUpForm {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .signUpForm {
    width: 60%;
  }
}

@media screen and (max-width: 586px) {
  .signUpForm {
    width: 70%;
  }
}

@media screen and (max-width: 424px) {
  .signUpForm {
    width: 85%;
  }
}

