
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* .darkMode {
  background-color: #47d91a;
  color: #fff;
}

.lightMode {
  background-color: #fff;
  color: #000;
} */

.map {
  height: 500px;
}

.spaceAboveFooter {
  margin-top: 300px;
}