.errorPage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorTitle {
  font-size: 8rem;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #d3d3d3, #fad6a3 30%);
  text-shadow: 4px 4px 0 #122316;
  background-clip:none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.errorDesc {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}


.errorLink {
  color: #fff;
}

.errorLink:hover {
  color: #fff;
  text-decoration: none;
}